header ul {
  list-style: none;
  padding-block: 1rem;
}

header ul li {
  border-radius: 10px;
  background-color: var(--secondary-color);

  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);

  opacity: 0.8;
}

header ul li a {
  padding-block: 1.8rem;
  padding-inline: 3.5rem;
  display: block;

  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

#pomo .pomocontent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#pomo .mostrador {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);

  border-radius: 50%;
  border: 1px solid transparent;
}

#pomo .mostrador .mostrador-content {
  width: 17rem;
  height: 17rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
  border: 0.5rem solid var(--secondary-color);
  border-radius: 50%;

  transition: border 0.5s;
}

#pomo .mostrador .mostrador-content span {
  font-size: 5rem;
  font-weight: 600;
  color: var(--text-color);
}

#pomo .mostrador .mostrador-content.mostrador-color-green {
  border: 0.5rem solid var(--green-color);
}
#pomo .mostrador .mostrador-content.mostrador-color-yellow {
  border: 0.5rem solid var(--yellow-color);
}

#pomo .pomocontent h2 {
  padding-top: 1rem;
  font-size: 4rem;
  font-weight: 600;
  color: var(--secondary-color);
}

#pomo .pomocontent h2.focoactive {
  color: var(--green-color);
}
#pomo .pomocontent h2.pausaactive {
  color: var(--yellow-color);
}

#pomo .sessoes {
  padding-block: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#pomo .sessoes span {
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  border-radius: 50%;
}

#pomo .btn-acao {
  padding-block: 2rem;
  padding-inline: 3rem;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
}
