@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: #333853;
  --secondary-color: #3c4262;
  --text-color: #acaebd;
  --green-color: #219653;
  --yellow-color: #f2c94c;
  --font-fam-rob: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  font-family: var(--font-fam-rob);
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 2.4rem;
}

nav {
  padding-block: 5rem;
  display: flex;
}

header {
  width: 100%;
}

nav h1 {
  font-size: 4rem;
  text-align: center;
  /* filter: brightness(2); */

  color: var(--text-color);
}

#opcoes {
  padding-block: 0.5rem;
}

#opcoes .opcoes-pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;
  padding-block: 0.5rem;
}

#opcoes .opcao-pomodoro {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.controles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.controles button {
  width: 2.5rem;
  height: 2.5rem;

  padding: 0.3rem;

  border: none;
  border-radius: 50%;

  background-color: var(--text-color);
  opacity: 0.5;
}

.controles button img {
  width: 100%;
  padding: 0.2rem;
}

/* .controles button svg g path {
  fill: #219653;
} */

.temporizador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.temporizador input[type='text'] {
  width: 9rem;
  height: 8rem;
  border: none;
  border-radius: 10px;
  text-align: center;

  font-size: 4rem;
  color: var(--text-color);

  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);
}
.temporizador input[type='text']:focus {
  /* box-shadow: 0 0 0 0; */
  outline: 0;
}

.temporizador span {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  opacity: 0.8;
}
