@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: #3c4262;
  --secondary-color: #acaebd;
  --green-color: #219653;
  --yellow-color: #f2c94c;
  --font-fam-rob: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  font-family: var(--font-fam-rob);
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 2.4rem;
}

nav {
  padding-block: 5rem;
  display: flex;
}

header {
  width: 100%;
}

nav h1 {
  font-size: 4rem;
  text-align: center;
  /* filter: brightness(2); */

  color: var(--secondary-color);
}

#opcoes {
  padding-block: 0.5rem;
}

#opcoes .opcoes-pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;
  padding-block: 0.5rem;
}

#opcoes .opcao-pomodoro {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.controles {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.1rem;
}
.controles input[type='button'] {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
}

.temporizador {
  padding: 0.1rem;
}
.temporizador input[type='text'] {
  width: 9rem;
  height: 9rem;
  border: none;
}
