@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: #333853;
  --secondary-color: #3c4262;
  --link-color: #ffbbac;
  --text-color: #acaebd;
  --green-color: #219653;
  --yellow-color: #f2c94c;
  --font-fam-rob: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  font-family: var(--font-fam-rob);

  overflow: overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 2.4rem;
}

nav {
  padding-block: 5rem;
  display: flex;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header img {
  width: 5rem;
  height: 5rem;
}

nav h1 {
  font-size: 4rem;
  text-align: center;
  /* filter: brightness(2); */

  color: var(--text-color);
}

footer {
  padding-top: 1rem;
}

footer .content {
  padding-block: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

footer .content p {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
}

footer .content a {
  text-decoration: none;
  color: var(--link-color);
}
